body {
    text-align: center;
    background-image: url('https://wallpapersmug.com/download/1920x1080/640bda/cute-smile-Astolfo-fate-apocrypha.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  body {
    color: purple;
  }